doctype 5
html(lang="en")
	head
		title Tropomaton Trainer
		link(rel="stylesheet", href="/content/style.css")
	body
		div.container
			header.page-header
				h1 Tropomaton Trainer
			div.row
				div.col-md-12
					a.btn.btn-primary.btn-lg(href="/train") Start Training